* {
	box-sizing: border-box;
}

.main {
}
.default {
	border: 1px solid lightgray;
	font-size: .9rem;
	font-weight: 600;
	line-height: normal;
	height: 32px;
	padding: 8px 8px;
	margin: 1px 0 0 0;
	border-radius: 4px;
	line-height: 8px;
	outline: none;
	color: darkslategray;
	background: white;
	text-align: center;
}
