* {
	box-sizing: border-box;
}
.main {
	display: flex;
	justify-content: center;
}
.button {
	color: white;
	background: brown;
	width: 60px;
	height: 30px;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	margin: 0 0 0 0;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.button:hover {
	background: blue;
	color: white;
}
.button_red {
	background: red;
}

.icon {
	margin-top: 5px;
	width: 20px;
	height: 20px;
	fill: white;
	flex: 2;
	cursor: pointer;
	outline: none;
}
.icon:hover {
	fill: white;
}
