* {
	box-sizing: border-box;
}

.container {
	max-width: 300px;
	border: 1px solid lightgray;
	border-radius: 8px;
	box-shadow: 1px 14px 26px hsla(0, 0%, 0%, 0.2);
	margin: 16px;
	padding: 8px;
}
.title {
	font-size: 1.2rem;
	font-weight: 400;
	text-align: center;
}
.group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.container_input {
	padding: 0 2px 0 0;
	flex: 1;
}

.container_title {
	display:flex;	
	justify-content: space-between;
	border-radius: 12px;
	box-shadow: 1px 5px 5px hsla(0, 0%, 0%, 0.2);
	margin: 16px;
	padding: 8px;
	color: darkred;
}

.icon {
	margin-top: 20px;
	width: 20px;
	height: 20px;
	flex: 2;	
	fill: red;
	cursor: pointer;
	outline: none;
}
.icon:hover {
	fill: darkred;
}

.container_boards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
}
.container_add {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 16px 48px;
}

.board_add {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: left;
	padding: 1px 48px;
}


